body {
  font-family: monospace;
  background-color: #222;
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#gameContainer {
  display: flex;
}

#gameMap {
  font-size: 16px;
  line-height: 1em;
  white-space: pre; /* Important for ASCII art */
  margin-right: 20px;
}

#gui {
  width: 200px;
}

#inventory {
  margin-top: 10px;
}

button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
